@import url("https://fonts.googleapis.com/css?family=Architects Daughter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1 {
  font-family: "Architects Daughter", sans-serif;
  font-size: 10vmin;
}

.settings {
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#grid-settings {
  display: flex;
  align-items: center;
  width: 75vmin;
  justify-content: space-around;
  padding-bottom: 10px;
}

form#grid-size {
  display: flex;
  align-items: center;
}

.grid-size {
  margin: 5px;
}

input[type="number"] {
  width: 2rem;
}

div#grid-container {
  display: grid;
  gap: 0px;
  width: 65vmin;
  height: 65vmin;
}

.sketchSquare {
  background-color: aqua;
  border: 1px solid green;
}

@media (max-width: 700px) {
  div#grid-settings {
    flex-direction: column;
  }

  button#new-board {
    margin-top: 5px;
  }
}
