@import url("https://fonts.googleapis.com/css?family=Architects Daughter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --grid-size: 65vmin;
}

h1 {
  font-family: "Architects Daughter", sans-serif;
  font-size: 10vmin;
}

.settings {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.label {
  font-size: 20px;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#grid-settings {
  display: flex;
  align-items: center;
  width: var(--grid-size);
  justify-content: space-around;
}

div#sketch-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--grid-size);
}

div#sketch-mode-label {
  margin-right: 7px;
}

button.sketch-style {
  margin: 0px 7px;
}

form#grid-size {
  display: flex;
  align-items: center;
}

.grid-size {
  margin: 5px;
}

input[type="number"] {
  width: 2rem;
}

div#grid-container {
  display: grid;
  gap: 0px;
  width: var(--grid-size);
  height: var(--grid-size);
  margin: 20px 0px;
}

.square {
  border: 1px solid lightgrey;
  background-color: white;
}

@media (max-width: 700px) {
  div#grid-settings {
    flex-direction: column;
  }

  button#reset {
    margin-top: 5px;
  }
}
